<p>host works!</p>
<form [formGroup]="addGameForm" (ngSubmit)="submitForm();">
  <mat-card class="add-user-card">
    <mat-card-header>
      <mat-card-title class="add-game-title">New Game</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col">

        <mat-form-field>
          <mat-label>Join Code</mat-label>
          <input matInput type="joincode"
            formControlName="joincode" required>
          @if (formControlHasError('joincode')) {
            <mat-error data-test="joincodeError">
              {{getErrorMessage('joincode')}}
            </mat-error>
          }
        </mat-form-field>

      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        type="button"
        color="primary"
        [disabled]="!addGameForm.valid"
        type="submit"
        data-test="confirmAddUserButton"
        >
        NEW GAME
      </button>
    </mat-card-actions>
  </mat-card>
</form>



