<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          Home
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            type="button"
            color="primary"
            data-test="hostButton"
            routerLink="/games/new"
            >
            Host a game
          </button>
        </mat-card-actions>
        &nbsp;
        <mat-card-actions>
          <button
            mat-raised-button
            type="button"
            color="primary"
            data-test="joinButton"
            routerLink="/games/join"
            >
            Join a game
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
